<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <h1 id="gl-capture">Your gallery:</h1>
         
  <div class="row">

    <div id="gl-img-block" class="col-md-4" ng-repeat="(i, url) in photosUrl track by $index">
      <img ng-src="{{url}}" class="img-rounded" >
      <br/>
      <button ng-click="delete(i)"><span class='glyphicon glyphicon-remove b-icon'></span> Delete</button>
	    <button id="gl-bt-fb"><span class='fa fa-twitter b-icon'></span> Post </button>
    </div>
    
  </div>
</div>
