@import url(http://fonts.googleapis.com/css?family=Gabriela);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

#menu {
  border: solid 1px #eee;
  -webkit-border-radius: 5px;
  background-color: rgba(182, 184, 186, 0.2);
  position: fixed; 
  top: 40%; 
  right:0%;
  width: 210px;
  padding-bottom: 5px;
}

#menu-container {
  width: 200px;
  float: right;
}

.b-icon {
  float: left;
}

#menu-button {
  border-color: #eee;
  margin: 5px 5px 0px 0px;
  width: 195px;
  height: 50px;
  opacity: 1.0;
}

#dev-capture {
  font-family: 'Gabriela', serif;
  font-size: 60px; 
  color: #eee; 
  margin: 20px 0px 0px 40px;
}

#devices-container {
  float: left; 
  width: 82%; 
  margin-top: 20px;
  font-family: 'Gabriela', serif;
  color: #eee;
}

#dev-container {
  float: left; 
  width: 550px; 
  height: 270px;
}

#dev-img {
  float: left; 
  height: 250px; 
  width: 250px;
}

#dev-info, #add-device-header {
  font-family: 'Gabriela', serif;
  float: right; 
  width: 250px; 
  word-wrap: break-word;   
  font-size: 20px; 
}

#dev-button {
  border: none;
  margin: 10px 0px 0px 0px;
  width: 150px;
  height: 30px;
}

#popup {
}

#add-device-header{
  padding-left: 20px;
  padding-top: 10px;
}

#add-device-body {
  padding-top: 50px;
  font-family: 'Gabriela', serif;
  font-size: 15px; 
  margin-bottom: 20px;
}

#add-device-body p {
  display: inline;
  color: #000;
  padding-left: 5px;
}

#add-device-body input {
  display: inline;
  color: #000;
  padding-left: 15px;
  border: 2px solid #eee;
}

#add-device-footer button {
  border: none;
  margin: 0px 0px 10px 30px;
  width: 100px;
  height: 25px;
}