[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.b-icon {
  float: left;
}

#dev {
  margin-bottom: 10px;
}

#add-device-button {
  border-color: #eee;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
}

#dev-capture {
  font-family: 'Gabriela', serif;
  font-size: 55px; 
  color: #eee; 
  margin-left: 20px;
}

#devices-container {
  margin-top: 20px;
  font-family: 'Gabriela', serif;
  color: #eee;
}

#dev-img {
  height: 250px; 
  width: 250px;
}

#dev-info {
  font-family: 'Gabriela', serif;
  word-wrap: break-word;   
  font-size: 20px; 
  margin-left: 10px;
  margin-bottom: 10px;
}

#dev-button {
  border: none;
  margin: 10px 0px 0px 0px;
  width: 150px;
  height: 30px;
}

#popup {
}

#add-device-header{
  padding-left: 20px;
  padding-top: 10px;
  font-family: 'Gabriela', serif;
  float: right; 
  width: 250px; 
  word-wrap: break-word;   
  font-size: 20px; 
}

#add-device-body {
  padding-top: 50px;
  font-family: 'Gabriela', serif;
  font-size: 15px; 
  margin-bottom: 20px;
}

#add-device-body p {
  display: inline;
  color: #000;
  padding-left: 5px;
}

#add-device-body input {
  display: inline;
  color: #000;
  padding-left: 15px;
  border: 2px solid #eee;
}

#add-device-body select {
  margin: 10px 0 10px 20px;
  border: 2px solid #eee;
}

#add-device-footer button {
  border: none;
  margin: 0px 0px 10px 35px;
  width: 90px;
  height: 25px;
}