<div ng-include="'components/navbar/navbar.html'"></div>

<div id='menu'>
	<div id='menu-container'>
		<button id='menu-button' ng-click="addDevice()"><span class='fontawesome-plus b-icon'></span>Add device</button>
        <button id='menu-button'><span class='fontawesome-picture b-icon'></span>Gallery</button>
        <button id='menu-button'><span class='fontawesome-bell-alt b-icon'></span>Notifications</button>
    </div>
</div>

<div id='dev-capture'>
  <h1> Your devices:</h1>
</div>  

<div id='devices-container'>

	<div id='dev-container' ng-repeat="device in devices">

	    <div id='dev-img'>
	      <img src="assets/images/autokorm.png" id='icon'></img>
	    </div>

	    <div id='dev-info'>
	      <h1>
	        {{device.name}}
	      </h1>
	      <button id='dev-button'><span class='fontawesome-cogs b-icon'></span>Config</button><br/>
	      <button id='dev-button'><span class='fontawesome-th-list b-icon'></span>Get stats</button>
	    </div>
  	</div> 

</div>  