#nav-buttons {
 font-size: 14px;
  line-height: 1.5em;
  -webkit-appearance: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ea4c88;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #eee;
  font-family: 'FontAwesome', sans-serif;
}

#nav-buttons:hover {
  background-color: #d44179;
}

#brand-name {
  color: #ea4c88;
  font-family: 'Gabriela', serif;
  font-size: 36px; 
}

#brand-img {
  margin-top: -8px;
}