@import url(https://fonts.googleapis.com/css?family=Gabriela);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.b-icon {
  float: left;
}

#device {
  margin-top: 20px;
  font-family: 'Gabriela', serif;
  color: #eee;
 } 


#dev-info-block {
  margin: 0px 20px 30px 10px; 
  font-size: 22px;
  width: 301px;
}

#dev-info-block input, #config-container input {
  font-size: 24px;  
  background: #6a6a6c;
  color: #000;
}

#config-container input, #fl, #wl {
  width: 100px;
}

#dev-info-block p {
  display: inline;
}

#edit-button, #save-button {
  border: none;
  margin: 10px 0px 0px 0px;
  width: 150px;
  height: 30px;
}

#config-container h1 {
  font-size: 22px; 
  text-decoration: underline;
}

#config-container h2 {
  display: inline;
}